@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

html {
    font-size: 50.5%;
}

.outer-box {
    min-height: 100vh;
    background: #092207;
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner-box {
    text-align: center;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inner-box figure figcaption {
    color: #fff;
    font-size: 2.2rem;
    padding-top: 2rem;
    text-transform: capitalize;
}

input {
    min-width: 40rem;
    height: 3.5rem;
    font-size: 1.8rem;
    margin-top: 2rem;
    padding: 2rem 1.2rem;
    color: rgb(58, 57, 57);
    background-color: #fff;
    background-image: none;
    border: 0.1rem solid black;
    box-shadow: 0px 0px 20px coral;
    border-radius: 0.4rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-out 0.1s;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input,
input:active,
input:active:focus {
    border: none;
    outline: none;
    padding: 2.3rem 1.5rem;
}


input placeholder {
    font-family: cursive;
}

input:focus {
    background-color: rgb(204, 246, 140);
    border-radius: 15px;
    color: black;
    font-weight: 1.5rem;

}

.todo-btn {
    width: 4rem;
    display: flex;
    justify-content: space-around;
}

.fa {
    cursor: pointer;
    margin-left: -2.5rem;
    background-color: #fff;
    color: #666;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 2rem;
}

.fa:hover {
    color: rgb(47, 214, 122);
}


.allItems {
    margin-top: 3rem;
    text-align: center;
}

.oneItem {
    background: #fff;
    padding: 1.2rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    min-width: 40rem;
    word-break: break-word;
    background: rgb(58, 229, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oneItem:hover {
    background: rgb(249, 249, 252);
    color: rgb(85, 41, 220);
}

.allItems .oneItem h3 {
    padding-left: 1rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 800;
}

.fa-trash-alt,
.fa-edit {

    cursor: pointer;

    color: black;
    font-size: 2rem;
}

.addItems .fa-edit {
    color: rgb(68, 239, 145);

}

.oneItem:hover {
    background-color: #092207;
    box-shadow: 0px 0px 0.4rem azure;
}

.fa-edit {
    margin-left: -3.5rem;
}

.oneItem:hover h3 {
    color: rgb(85, 41, 220);
    color: white;
    font-size: 1.9rem;
}

.oneItem:hover .fa-trash-alt {
    color: rgb(214, 47, 61);
    transform: scale(1.3);
}

.oneItem:hover .fa-edit {
    color: rgb(100, 214, 47);
    transform: scale(1.3);
}


.btn {
    cursor: pointer;
    background-color: azure;
    font-size: 1.9rem;
    font-weight: 800;
    max-width: 40rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 4px;

}

.btn:hover {
    background-color: red;
}

.dltBtn:hover {

    font-weight: 2.4rem;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}